[Unit]
Description=Check Docker JSON logs hourly

[Timer]
OnBootSec=10min
OnUnitActiveSec=1h
RandomizedDelaySec=5min
Persistent=true
Unit=docker-container-logrotate.service

[Install]
WantedBy=timers.target
